/*Navbar principal de todo el sitio web*/
#navbar-index
{
	background-color: rgba(59, 0, 0, 0.9);
	border: none;
}
#navbar-index ul li a 
{
	color: white;	
}
.nombre-sistema
{
	color: white;
}
#carouselindex
{
	margin-top: -20px;	
}
#img-carousel
{
	margin: 0 auto;
}

#jumbotron-noticias
{
	background-color: rgba(75, 5, 0, 0.5);
}
#hr
{
	border: 1px solid rgba(75, 5, 0, 0.5);	
}
#btn-carousel
{
	border-radius:0px;
	background-color: rgba(255, 255, 255, 0.7);
	border:none;

}
#btn-noticias
{
	border-radius:0px;
	border:none;
	background-color: rgba(8, 71, 82, 0.7);
}
#form-navbar
{	
	border-radius:0px;
}
/*estilos del sistema de control*/
#navbar-admin
{
	border-radius:0px;
}
.hr-admin
{
	border:1px solid black;
}
.col-admin-central
{
	margin-top:-32px;
	background-color: rgba(255, 255, 255, 0.3);
}
#form-login-admin
{
	max-width: 300px;
	margin: 150px auto;
}
#col-form-login
{
	border-radius:1px;
	box-shadow: 0 10px 10px 0 grey;
}
#inputs-login
{
	max-width: 259px;
	border-radius:1px;
}
/*boton del ingreso.php*/
#btn-login-submit
{
	border-radius: 1px;
	background-color: rgba(204, 0, 0, 1);
	color: white;
}
/*columnas de opciones del sistema*/
.columnas-opciones
{
	background-color: rgba(59, 0, 0, 0.9);
	padding: 40px;
	border: 1px solid white;
}
#imageoperaciones
{
	width: 50px;
}
/*iconos de operaciones del sistema*/
.icon-admin
{
	color:white;
}
/*lista vertical de todo el sistema*/
#list-vertical-admin
{
	
	margin-top: -20px;
	padding: 10px;

}
/*elementos de la lista vertical admin*/
#list-vertical-admin ul li a
{
	color:black;
}
/*elementos de la lista vertical admin*/
#list-vertical-admin ul li a:hover
{
	color: rgba(206, 0, 0, 1);
	border-radius:0px;
	margin:0 -9px 0 -9px;
}
/*columna del btn responsive de la lista vertical del admin*/
#col-btn-list-verticaladmin
{
	padding-left: 5px;

}
/*esta misma lista vertical pero adpatandola a responsive*/
#btn-list-vertical-admin-responsive
{
	
	float: left;
	background-color: rgba(59, 0, 0, 0.9);
}
#icono-btn-responsive-listverticaladmin
{
	background-color: white;
	margin-top: 5px; 
}
/*texto de ayuda de btn lista vertical del admin*/
#texto-operaciones-admin-btn-listverticaladmin
{
	margin-top: -15px;
	margin-left: 35px;
	color: white;

}
/*elementos verticales desplegables de la lista del admin*/
.link-vertical-admin-desplegable
{
	
}
.link-vertical-admin-desplegable:hover
{
	color: black;
}
/*page header general de todo el sistema*/
.btn-collapsed
{
	background-color: rgba(255, 255, 255, 1);
}
/*botones de formularios para los procesos en el sistema*/
#btn-procesos-sistema
{
	border-radius:0px;
	background-color: rgba(204, 0, 0, 1);
	border: none;
	color: white;
}
/*inputs de todo el sistema*/
#inputs-sistema
{
	border-radius: 0px;
}
.links-operaciones
{
	color: white;
}
.links-operaciones:hover
{
	text-decoration: none;
	font-weight: bold;
	color: rgba(235, 0, 0, 1);
}
/*tablas de consulta censo familias*/
.datos-censo-familia
{
	background-color: rgba(215, 44, 44, 0.3);
	padding: 3px;
}	
/*texto archivo externo.txt*/
.text-archivo-externo
{
	text-align: justify;
	color: green;
	font-weight: bold;
	font-size: 1em;
}
#li-inicio{
	padding: 15px;
}
#input-imagen1{
	text-decoration: none;
	border-radius: 0px;
	
	

}
