/*Navbar principal de todo el sitio web*/
#navbar-index
{
	background: rgba(255,230,0,0.76);
	background: -moz-linear-gradient(left, rgba(255,230,0,0.76) 0%, rgba(140,120,119,0.76) 24%, rgba(16,0,247,0.7) 50%, rgba(145,0,114,0.63) 77%, rgba(255,0,0,0.63) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,230,0,0.76)), color-stop(24%, rgba(140,120,119,0.76)), color-stop(50%, rgba(16,0,247,0.7)), color-stop(77%, rgba(145,0,114,0.63)), color-stop(100%, rgba(255,0,0,0.63)));
	background: -webkit-linear-gradient(left, rgba(255,230,0,0.76) 0%, rgba(140,120,119,0.76) 24%, rgba(16,0,247,0.7) 50%, rgba(145,0,114,0.63) 77%, rgba(255,0,0,0.63) 100%);
	background: -o-linear-gradient(left, rgba(255,230,0,0.76) 0%, rgba(140,120,119,0.76) 24%, rgba(16,0,247,0.7) 50%, rgba(145,0,114,0.63) 77%, rgba(255,0,0,0.63) 100%);
	background: -ms-linear-gradient(left, rgba(255,230,0,0.76) 0%, rgba(140,120,119,0.76) 24%, rgba(16,0,247,0.7) 50%, rgba(145,0,114,0.63) 77%, rgba(255,0,0,0.63) 100%);
	background: linear-gradient(to right, rgba(255,230,0,0.76) 0%, rgba(140,120,119,0.76) 24%, rgba(16,0,247,0.7) 50%, rgba(145,0,114,0.63) 77%, rgba(255,0,0,0.63) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe600', endColorstr='#ff0000', GradientType=1 );
	border: none;
}
#navbar-index ul li a 
{
	color: white;	
}
.nombre-sistema
{
	color: white;
}
#carouselindex
{
	margin-top: -20px;	
}
#img-carousel
{
	margin: 0 auto;
}

#jumbotron-noticias
{
	background-color: rgba(75, 5, 0, 0.5);
}
#hr
{
	border: 1px solid rgba(75, 5, 0, 0.5);	
}
#btn-carousel
{
	border-radius:0px;
	background-color: rgba(255, 255, 255, 0.7);
	border:none;

}
#btn-noticias
{
	border-radius:0px;
	border:none;
	background-color: rgba(8, 71, 82, 0.7);
}
#form-navbar
{	
	border-radius:0px;
}
/*estilos del sistema de control*/
#navbar-admin
{
	border-radius:0px;
}
.hr-admin
{
	border:1px solid black;
}
.col-admin-central
{
	margin-top:-32px;
	background-color: rgba(255, 255, 255, 0.3);
}
#form-login-admin
{
	max-width: 300px;
	margin: 150px auto;
}
#col-form-login
{
	border-radius:1px;
	box-shadow: 0 10px 10px 0 grey;
}
#inputs-login
{
	max-width: 259px;
	border-radius:0px;
}
/*boton del ingreso.php*/
#btn-login-submit
{
	border-radius: 0px;
	background-color: rgba(204, 0, 0, 1);
	color: white;
	border:none;
}
#btn-login-submit:hover
{
	background-color: rgba(0, 219, 56, 0.6);
	color: black;
	font-weight: bold;
}
/*columnas de opciones del sistema*/
.columnas-opciones
{
	background-color: rgba(206, 3, 3, 0.9);
	padding: 40px;
	border: 1px solid white;
}
/*iconos de operaciones del sistema*/
.icon-admin
{
	color:white;
}
/*lista vertical de todo el sistema*/
#list-vertical-admin
{
	
	margin-top: -20px;
	padding: 10px;

}
/*elementos de la lista vertical admin*/
#list-vertical-admin ul li a
{
	color:black;
}
/*elementos de la lista vertical admin*/
#list-vertical-admin ul li a:hover
{
	color: rgba(206, 0, 0, 1);
	border-radius:0px;
	margin:0 -9px 0 -9px;
}
/*columna del btn responsive de la lista vertical del admin*/
#col-btn-list-verticaladmin
{
	padding-left: 5px;

}
/*esta misma lista vertical pero adpatandola a responsive*/
#btn-list-vertical-admin-responsive
{
	
	float: left;
	background-color: rgba(59, 0, 0, 0.9);
}
#icono-btn-responsive-listverticaladmin
{
	background-color: white;
	margin-top: 5px; 
}
/*texto de ayuda de btn lista vertical del admin*/
#texto-operaciones-admin-btn-listverticaladmin
{
	margin-top: -15px;
	margin-left: 35px;
	color: white;

}
/*elementos verticales desplegables de la lista del admin*/
.link-vertical-admin-desplegable
{
	
}
.link-vertical-admin-desplegable:hover
{
	color: black;
}
/*page header general de todo el sistema*/
.btn-collapsed
{
	background-color: rgba(255, 255, 255, 1);
}
/*botones de formularios para los procesos en el sistema*/
#btn-procesos-sistema
{
	border-radius:0px;
	background-color: rgba(204, 0, 0, 1);
	border: none;
	color: white;
}
/*inputs de todo el sistema*/
#inputs-sistema
{
	border-radius: 0px;
}
.links-operaciones
{
	color: white;
}
.links-operaciones:hover
{
	text-decoration: none;
	font-weight: bold;
	color: rgba(235, 0, 0, 1);
}
/*tablas de consulta censo familias*/
.datos-censo-familia
{
	background-color: rgba(215, 44, 44, 0.3);
	padding: 3px;
}	
/*texto archivo externo.txt*/
.text-archivo-externo
{
	text-align: justify;
	color: green;
	font-weight: bold;
	font-size: 1em;
}
/*buscador del navbar admin*/
#buscador-navbaradmin{
	border-radius: 0px;
}
/*paneles del censo*/
#paneles-censo{
	border-radius:0px;
	background-color: rgba(96, 0, 0, 0.1);
}
#header-paneles-censo{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#headingprincipal{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#headingfamiliares{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#headingOne{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#headingTwo{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#headingThree{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading5{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading2{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading3{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading4{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading6{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading7{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading1{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading8{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading9{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading10{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading11{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading12{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading13{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#heading14{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#headingdatos-censo{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#headingdatosperfil{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#listadodeusuarios{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
#cabecera-panel-listado-de-censos{
	background-color: rgba(206, 3, 3, 0.9);
	color: white;
}
/*botones del censo*/
#btn-guardar-censo{
	border-color: rgba(115, 0, 0, 0.9);
	color: rgba(108, 0, 0, 1);
	border-radius: 0px;
	background-color: white;
	font-weight: bold;
	border:2px solid;
	
}
#btn-guardar-censo:hover{
	background-color: rgba(108, 0, 0, 1);
	color: white;
	
}
#btn-limpiar-censo{
	border:2px solid;
	border-radius: 0px;
	background-color: white;
	border-color: rgba(0, 122, 182, 0.8);
	font-weight: bold;
}
#btn-limpiar-censo:hover{
	border-radius: 0px;
	background-color: rgba(0, 122, 182, 0.8);
	color: white;
}
#btn-cancelar-censo{
	border:2px solid;
	border-radius: 0px;
	border-color: rgba(201, 95, 0, 0.8);
	font-weight: bold;
}
#btn-cancelar-censo:hover{
	border-radius: 0px;
	background-color: rgba(201, 95, 0, 0.8); 
	color: black;
	font-weight: bold;
}